@import "tailwindcss";

@theme inline {
  --color-background: #dedad7;
  --color-foreground: #171717;
  --font-melody: var(--font-melody);
}

:root {
  --background: #dedad7;
  --foreground: #171717;
  --heading-color: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom 3D Text Effect */
.text-3d {
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}

/* Hide default browser scrollbar */
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
